{% extends 'layouts/admin.html.twig' %}

{% block content %}

<div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-4 d-inline">Admins</h5>
         <a  href="{{ path('admin_admins_create') }}" class="btn btn-primary mb-4 text-center float-right">Create Admins</a>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">username</th>
                <th scope="col">email</th>
              </tr>
            </thead>
            <tbody>
                {% for admin in admins %}
                <tr>
                    <th scope="row">{{ admin.id }}</th>
                    <td>{{ admin.name }}</td>
                    <td>{{ admin.email }}</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  {% if app.session.has('admin') %}
      <p class="container alert alert-success text-center">{{ app.session.get('admin') }}</p>
  {% endif %}

{% endblock %}
