{% extends 'layouts/app.html.twig' %}

{% block content %}
<div class="comment-form-wrap pt-5">
    <h3 class="ps-5">Create a new post</h3>
    <form action="{{ path('post_posts_edit',{'post': post}) }}" class="ps-5 pe-5 bg-light" method="POST" enctype="multipart/form-data">
        {{ form_start(form) }}

        <div class="form-group mt-2">
            <label class="form-label">Add Title</label>
            {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
        </div>

        <div class="form-group mt-2">
            <label class="form-label">Add Category</label>
            {{ form_widget(form.category, { 'attr': {'class': 'form-select form-control'} }) }}
        </div>

        <div class="form-group mt-2">
            <label class="form-label">Add Image</label>
            {{ form_widget(form.image, { 'attr': {'class': 'form-control'} }) }}
        </div>

        <div class="form-group mt-2">
            <label class="form-label">Add Description</label>
            {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
        </div>

        {% if app.user and app.user.id == userid %}
        <div class="form-group mt-2 mb-2">
            <input type="submit" value="Update" class="btn btn-primary">
        </div>
        {% endif %}
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="form-group">
            <input type="submit" value="Login First" class="btn btn-danger disabled">
        </div>
        {% endif %}
        {{ form_end(form) }}
    </form>
</div>
{% endblock %}
